body{
    background-color: black;
    padding: 30px 200px 200px 200px;
    color: white;
    font-size: 25px;
}

.main-container h1 {
    font-size: 50px;
}

button{
    font-size: 20px;
    color: white;
    padding: 15px;
    background: black;
    /* background: #242830; */
    border: solid 1px #242830;
    border-radius: 7px;
}

button:hover{
    background: #242830;
}

.form-container label{
    padding-bottom: 20px;
}

.form-container select{
    font-size: 18px;
    background-color: #242830;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* .form-container select option{
    padding: 5px;
}
 */

 /* .response-container .recommendations ul li{
    display: inline;
 } */

.recommendations ul{
    padding: 0;
 }

.recommendations li {
    display: inline-block;
    width: 200px;
    /* height: 70px; */
    /* margin: 20px 20px ; */
    /* border: 1px solid red; */
    margin-right: 30px;
    /* margin-top: 20px; */
 }

 .recommendations li img{
    width: 200px;
    height: auto;
}

.recommendations li h3{
   margin-top: 5px;
   font-size: 18px;
   text-align: left;
}