<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Recommendation System</h1>
        <form action="/recommendations" method="POST">
            <label for="movie_name">Select a movie:</label>
            <select id="movie_name" name="movie_name">
                {% for movie in all_movies %}
                    <option value="{{ movie }}">{{ movie }}</option>
                {% endfor %}
            </select>
            <br> <br> <br>
            <button type="submit">Get Recommendations</button>
        </form>
        <div class="recommendations">
            <h2>Recommendations:</h2>
            <ul>
                {% for movie in recommended_movies %}
                    <li>{{ movie }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
